.article {
  padding: 0 50px;
  padding-top: 150px;
  max-width: 1000px;
  margin: auto;

  .title {
    font-size: 2.4em;
    margin-bottom: 40px;
    line-height: 1.2;
  }

  img {
    max-width: 100%;
    margin-bottom: 20px;
  }

  p {
    font-size: 1.2em;
    margin-bottom: 30px;
  }

  a {
    color: inherit;
  }

  .btn_group {
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    .btn {
      text-decoration: none;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #e5fff4;
      color: #009153;
      outline: none;
      border: 1px solid #009153;
      border-radius: 5px;
      font-family: inherit;
      padding: 6px 15px;
      cursor: pointer;
      text-transform: capitalize;
      font-weight: 600;
      &:first-child {
        padding-left: 12px;
        padding-right: 35px;
        svg {
          margin-left: 0;
          margin-right: 10px;
        }
      }

      svg {
        margin-left: 5px;
      }
    }
  }
}

@media screen and(max-width:700px) {
  .article {
    padding: 0 30px;
    padding-top: 120px;
    .title {
      font-size: 2em;
    }
    p {
      font-size: 1em;
    }
  }
}
