// Utilities

@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;500;600;700&display=swap");
@import "./css/variables";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 10px;
  border-radius: 15px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 15px;
}

body {
  font-family: "Cairo", sans-serif;
  overflow-x: hidden;
  background-color: #f8fffc;
}

.grid {
  display: grid;
}

.flex {
  display: flex;
}

.btn {
  padding: 7px 15px;
  border-radius: 3px;
  outline: none;
  border: none;
  background-color: unset;
  cursor: pointer;
  text-decoration: none;
  color: #000;
  display: inline-block;
  font-family: inherit;
}

.text-primary {
  color: $primary-color;
}

.text-secondary {
  color: $secondary-color;
}

.btn-primary {
  background-color: $primary-color;
  color: #fff;
  font-weight: 600;
}

.btn-secondary {
  background-color: $secondary-color;
  color: #000;
  font-weight: 600;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.emoji {
  font-weight: initial;
}